html,
body,
#root {
  height: 100%;
}
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

h4 {
  margin-top: 8px;
  margin-bottom: 3px;
  font-weight: 600px;
}

#main-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 20px;
  position: relative;
  text-align: center;
}

img.instruction-image {
  width: 50%;
}

p.pic-in-text {
  width: 80%;
  display: inline-flex;
}
img.in-text {
  display: inline-flex;
  width: 20%;
}
